@charset "UTF-8";

h1 {
    font-size: 25px;
}

h2 {
    font-size: 20px;
}

p {
    font-size: 18px;
}

header img {
    padding-left: 280px;
    padding-top: 60px;
    padding-bottom: 60px;
    width: 600px;
}

.top img {
    width: 100%;
}

.center {
    display: flex;
    justify-content: center;
    margin: 80px;
}

.triangles {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 25px solid
}

.about {
    padding-left: 280px;
    padding-right: 280px;
}

.about h1 {
    font-weight: bold;
    padding-bottom: 15px;
    border-bottom: 2px dotted;
    margin-bottom: 60px;
    display: block;
}

.about .profile {
    display: flex;
    align-items: center;
    gap: 30px;
}

.about .profile img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.about .profile-list {
    width: 610px;
}

.about .profile-list h2 {
    margin-bottom: 30px;
}

.works {
    padding: 80px 280px 0 280px;
}

.works h1 {
    font-weight: bold;
    padding-bottom: 15px;
    border-bottom: 2px dotted;
    margin-bottom: 60px;
    display: block;
}

.works ul {
    display: flex;
    justify-content: center;
    gap: 80px;
}

.works ul li .design img {
    width: 225px;
    height: 337.5px;
    object-fit: cover;
    transition: 0.2s;
}

.works ul li .design {
    text-align: center;
}

.works ul li .design p {
    margin-top: 10px;
}

.works ul li .design :hover {
    filter: brightness(60%);
}

/* and moreを中央にして黒の四角とアニメーションつける */
.detail {
    display: flex;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    width: 200px;
    padding: 10px 30px;
    background-color: #000;
    border: 1px solid #000;
    color: #ffffff;
    font-size: 14px;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
    transition: 0.2s;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.detail:hover {
    letter-spacing: 3px;
    color: #000;
    background-color: #ffffff;
}

.contact {
    padding: 80px 280px 250px 280px;
}

.contact h1 {
    font-weight: bold;
    padding-bottom: 15px;
    border-bottom: 2px dotted;
    margin-bottom: 30px;
    display: block;
}

.contact h2 {
    margin-bottom: 15px;
}

.contact .contact-list {
    text-decoration: underline;
}

footer {
    background-color: #000;
    padding: 100px;
    text-align: center;
}

footer img {
    width: 300px;
}

footer p {
    color: #fff;
    margin-top: 30px;
}